@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --cor-principal: #ebf4f6;
  --cor-secundaria: #37b7c3;
  --cor-terciaria: #088395;
  --cor-destaque: #071952;
  --cor-fonte: black;
  --cor-transparencia: rgba(0, 0, 0, 0.02);
  /* --cor-especial: bisque; */
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Inter;
}

header {
  display: flex;
  padding: 0% 2%;
}

.logo-alura {
  padding: 2% 0%;
}

body {
  background-color: var(--cor-principal);
  /* height: 100vh; */
}

::selection {
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}

.container-principal {
  padding: 3% 3%;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  justify-content: space-around;
}

/* .conteudo-esquerda {
  width: 40%;
} */

.input-texto {
  font-size: 1.5rem;
  padding: 10px;
  resize: none;
  border: none;
  border-radius: 16px;
  outline: none;
  width: 90%;
  background-color: #ffffff00;
}

.input-texto:hover {
  background-color: var(--cor-transparencia);
}

.container-botoes {
  display: flex;
  padding: 10px 0;
  gap: 3%;
}

.btn {
  width: 115px;
  height: 45px;
  border-style: hidden;
  border-radius: 16px;
  background-color: var(--cor-secundaria);
  font-weight: 450;
  cursor: pointer;
}

.botao-descriptografar {
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}

.botao-copiar:hover {
  color: var(--cor-principal);
}

.display-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--cor-secundaria);
  padding: 100px 25px;
  width: 32%;
  height: 90%;
  box-sizing: border-box;
}

.resultado-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.mensagem {
  padding: 25px;
  word-break: break-all;
  text-align: center;
}

footer {
  background-color: var(--cor-secundaria);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
  padding: 22.5px;
}

.desenvolvido-por {
  color: var(--cor-principal);
  text-align: center;
  font-weight: 200;
}

/* EXPERIMENTAL */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.75s ease-in forwards;
}

@keyframes pulseRed {
  0%,
  100% {
    color: black; /* Cor original ou qualquer outra cor que você prefira */
  }
  50% {
    color: red;
  }
}

.alert {
  animation: pulseRed 1.5s infinite;
}

@media (max-width: 780px) {
  .container-principal {
    flex-direction: column;
    gap: 40px;
  }

  .display-texto {
    width: 90%;
    height: 90%;
  }

  .imagem-conteudo {
    display: none;
  }
}
